@import '../../global/global-css.scss';

.movie-card {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    margin: 0 10px 40px 10px;
    transition: all easy 0.3s;

    @include tablet{
        margin: 0 0 40px 0;
    }

    &:hover{
        cursor: pointer;
    }

    &:hover > .custom-button{
        transition: all easy 0.3s;
        background: black;
        color: white;
    }

    .movie-poster{
        img{
            height: 444px;
            max-width: 100%;
        }
    }

    .movie-details{
        p{
            display: flex;
            justify-content: space-between;

            span:last-of-type{
                text-align: right;
            }

            .movie-type{
                text-transform: capitalize;
            }
        }
    }
}