.results-view{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-top:15px;
}

.search-form{
    position: relative;
    display: flex;
    align-items: center;
    margin: 45px 0;

    .form-input{
        width:100%;
        height: 50px;
        margin:0;
    }

    .group{
        width:100%;
        margin: 0;
    }

    .remove-search{
        position: absolute;
        top: 5px;
        right: 170px;
        padding: 10px;
        font-size: 20px;
        background: none;
        color: grey;
        border: none;
        
        &:hover{
            cursor: pointer;
        }
    }
}

.filters{
    display: flex;

    .sort-dropdown{
        display: flex;
        margin-left:10px;

        span{
            margin-right: 15px;

            &:hover{
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }
}

.error-message{
    width:100%;
    text-align: center;
}

.search-options{
    display: flex;
    align-items: center;
    justify-content: space-between;
}