.movie-page{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-top:40px;
}

.movie-details-container{
    margin-left: 50px;
    width:100%;
}

.movie-detail{
    margin: 5px 0;
}

.movie-card{
    min-width:300px;
}

.cta-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}