@import '../../global/global-css.scss';

.homepage{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;

    img{
        width:100%;
    }
}

.banner-text{
    position: absolute;
    
    h3,
    h4{
        color: white;
        text-shadow: 2px 2px 2px #000000;
        text-align: center;
    }
    h3{
        font-size: 44px;
    }
    
    h4{
        font-size: 38px;
    }
}

.banner-logo{
    max-width: 200px;

    @include tablet{
        max-width: 400px;
    }
}